<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
    
</head>
<body>
  
    <div class="filters"> 
              <div class="filter-1">
                       <h2>Filter Companies</h2>
                       <h4>Showing <b>11-20</b> of <b>788 </b> Companies sorted by relevancy</h4>
                       <hr>
                       <form action="">
                        <label for="" class="label-6">Location</label>
                       <br>
                        <input type="text" class="location" placeholder="Indore">
                        <hr>
                        <label for="" class="label-7">Industries</label>
                        <br>
                        <select name="industry" id="industry" onchange="navigate1()">
                            
                            <option value="1.html">Information Technology</option>
                            <option value="1">Information Technology Support</option>
                            <option value="1">Software Development</option>
                            <option value="1">Management & Administration</option>
                            <option value="1">Civic & Social Services</option>

                          

                        </select>
                        <hr>
                        <label for="" class="label-8">Job title</label>
                        <br>
                        <select name="job" id="job" onchange="navigate3()">
                            
                            <option value="courses.html" >Web Development</option>
                            <option value="1.html">Software Development</option>
                            <option value="3">Android Development</option>
                            <option value="4">Digital Marketing</option>
                            <option value="5">Web Designing</option>



                        </select>
              <hr>
              <label for="" class="label-9">Reviews</label>
              <br>
              <select name="job" id="reviews" onchange="navigate()">
                <option value="2star.html">2 Star Ratings </option>
                  <option value="3star.html"> 3 Star Ratings </option>
                  <option value="4star.html"> 4 Star Ratings </option>
                  <option value="5star.html"> 5 Star Ratings  </option>
                  
                  <option value="1star.html"> 1 Star Ratings </option>



              </select>

              <form action="/navigate" method="post" id="formstar">
                <input type="hidden" id="inputhidden" name="starinput">
              </form>
    <hr>
    <label for="" class="label-10">Company Employes Count</label>
    <br>
    <select name="job" id="size" onchange="openpage()">
        
        <option value="5star.html">  1000-10000</option>
        <option value="4star.html"> 500-1000</option>
        <option value="3star.html"> 100-500</option>
        <option value="2star.html"> 10-100</option>
        <option value="1star.html"> 0-10 </option>



    </select>
<hr>  
                       <button class="btn-15">Apply Filters</button>
                       </form>
                       
              </div>
              <div class="filter-2">
                     <div class="filter-2a">
                        <img src="tech-mahindra-squareLogo-1682427461111.png" alt="">
                        <h2>Tech Mahindra</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Software Development</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                Tech Mahindra represents the connected world, offering innovative and customer-centric information technology experiences, enabling Enterprises, Associates and the Society to Rise™. We are a USD 4.9 billion
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Web Development
                            </h5>
                        </div>
                     </div>
                     <div class="filter-2a">
                        <img src="teleperformance-squareLogo-1697744314989.webp" alt="">
                        <h2>Tele Performance</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Customer Supports</h5>
                        </div>
                        <div class="discreption">
                            <h4>   
                                Teleperformance is the leading global provider of outsourced Digital Integrated Business Services. Since its 2001 entry into India, Teleperformance leveraged the country’s vast talent pool to offer quality offshore
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Tele Calling Service
                            </h5>
                        </div>
                     </div>
                     <div class="filter-2a">
                        <img src="hcl-technologies-squareLogo-1664198027190.webp" alt="">
                        <h2>HCL Technology</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Software Development</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                HCLTech is a global technology company, home to 224,756+ people across 60 countries, delivering industry-leading capabilities centered around digital, engineering, cloud and AI powered by a broad portfolio of
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Web Development
                            </h5>
                        </div>
                     </div>

                     <div class="filter-2a">
                        <img src="wipro-squareLogo-1670620181456.webp" alt="">
                        <h2>Wipro Technology</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Software Development</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                Wipro is an Indian multinational corporation that provides information technology, consultant and  business process services. It is one of the leading Big Tech companies.
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Information Technology
                            </h5>
                        </div>
                     </div>
                     <div class="filter-2a">
                        <img src="capgemini-squareLogo-1688367853815.webp" alt="">
                        <h2>Campgemini</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Network Solutions</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                Capgemini is a global business and technology transformation partner, helping organizations to accelerate their dual  transition to a digital and sustainable world, while creating tangible impact for enterprises and..
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Web Development
                            </h5>
                        </div>
                     </div>

                     <div class="filter-2a">
                        <img src="deloitte-squareLogo-1674210308592.webp" alt="">
                        <h2>Deloitte</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Business Consulting</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                Deloitte provides industry-leading audit and assurance, tax and legal, consulting, financial advisory, and risk advisory services to nearly 90% of the Fortune Global 500® and thousands of private companies. Our more than 412,000+ ..
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Web Development
                            </h5>
                        </div>
                     </div>

                     <div class="filter-2a">
                        <img src="infosys-squareLogo-1620208556721.webp" alt="">
                        <h2>Infosys</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Information Technology Support</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                Infosys is a global leader in next-generation digital services and consulting. Over 300,000 of our people work to amplify human potential and create the next opportunity for people, businesses and communities.
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Web Development
                            </h5>
                        </div>
                     </div>

                     <div class="filter-2a">
                        <img src="accenture-squarelogo-1603988625135.png" alt="">
                        <h2>Accenture</h2>
                        <h4>5 <img src="star.png" alt=""></h4>
                        <br>
                        <p>Location</p>
                        <br>
                        <h5>Indore</h5>
                        <div class="count">
                            <p>Company Employee Count</p>
                            <br>
                            <h5>10000++</h5>
                        </div>
                        <div class="industry">
                            <p>Industry</p>
                            <br>
                            <h5>Business Consultingt</h5>
                        </div>
                        <div class="discreption">
                            <h4>
                                
                                Growing customer expectations. Market-Shaping AI. Self-Optimizing systems. The post-digital age shows no signs of slow down, and the need for the new ideas powered by intelligent technologies has never been greater. A vision for the future can’t be realized without know-how. Accenture partners with our clients drive real
                            </h4>
                        </div>
                        <div class="review-section">
                            <p>Reviews</p>
                            <h5>5 Star Ratings</h5>
                        </div>
                        <div class="job-title">
                            <p>Job</p>
                            <h5>
                                Web Development
                            </h5>
                        </div>
                     </div>



              </div>

              </div>
         
              </div>
    </div>
    <script>
        function navigate(){
            var selectedPage = document.getElementById("reviews").value;
            if(selectedPage !==""){
                window.location.href = selectedPage;
            }
        }
       function openpage(){
        var selectedPage1 = document.getElementById("size").value;
        if (selectedPage1 !==""){
            window.open(selectedPage1, "_blank");
        }
       }
       function navigate1(){
            var selectedPage2 = document.getElementById("industry").value;
            if(selectedPage2 !==""){
                window.location.href = selectedPage2;
            }
        }
        function navigate3(){
            var selectedPage4 = document.getElementById("job").value;
            if(selectedPage4 !==""){
                window.location.href = selectedPage4;
            }
        }
    </script>
</body>
</html>