<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="copyright">
        <h3>Copyright Section</h3>
        <p>▶️Copyright Disclaimer under section 107 of the Copyright Act of 1976, allowance is made for “fair use” for purposes such as criticism, comment, news reporting, teaching, scholarship, education and research</p>
        <h4>All The Right Of Lecture Are Assinged to the specific Channels
        </h4>
        <a href="https://youtube.com/@Harshitvashisth?si=ysn4HkQZg7e63Z4p">All Creadits To Given Channel</a>
        <p>For More queries releated to the copyright you can contact us <br>
          <h4>internscuplt@gmail.com</h4></p>
    </div>
</body>
</html>