<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <title>Document</title>
    
</head>
<body>
    <div class="gradient-background mb-3" id="courses">
         <div class="headings">
         <h1>Go ahead. Join the InternSculpt</h1>
         <h4>The website that all you need to upgrade yourself with <br> real industry projects.</h4>
        </div>
        <div class="intership">
            <img src="../static/assets/img/inter.webp" class="inter" alt="Image Not  Available">
        </div>
        </div>
      </div>
      <div class="courses">
              <h1>Top Trending Courses </h1>
        <div class="courses-1">
            <div class="courses-1-a">
                <a href="{{url_for('playlist')}}" style="text-decoration: none; color: black;">
                <img src="../static/assets/img/html.jpg" class="img-5" alt="">
                <h5>Front End</h5>
                <br>
                <h2>HTML 5 Web Component <br>Fundamentals</h2>
                <br>
                <div class="begin">
                    <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">2h 30m </h5>
                </div>
            </a>
            </div>
            <div class="courses-1-a">
                <a href="{{url_for('css_playlist')}}" style="text-decoration: none; color: black;">
                <img src="../static/assets/img/css.jpg" class="img-5" alt="">
                <h5>Front End</h5>
                <br>
                <h2>Mastering CSS 3 Flexbox With <br>Real World Projects</h2>
                <br>
                <div class="begin">
                    <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">3h 24m </h5>
                </div>
            </a>
            </div>
            <div class="courses-1-a">
                <img src="../static/assets/img/full stack.jpg" class="img-5" alt="">
                <h5>Front End</h5>
                <br>
                <h2>Full Stack Web Development<br>with React Hooks and Redux</h2>
                <br>
                <div class="begin">
                <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>  
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">98h 00m </h5>
            </div>
            </div>
        </div>
        <div class="courses-1">
            <div class="courses-1-a">
                <img src="../static/assets/img/netwwork.webp" class="img-5" alt="">
                <h5>Network End</h5>
                <br>
                <h2>Network Marketing And Its<br>Fundamentals</h2>
                <br>
                <div class="begin">
                    <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5>3h 24m</h5>
                </div>
            </div>
            <div class="courses-1-a">
                <img src="../static/assets/img/social.jpeg" class="img-5" alt="">
                <h5>Social End</h5>
                <br>
                <h2>Social Media Marketing <br>And Management</h2>
                <br>
                <div class="begin">
                    <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">4h 05m </h5>
                </div>
            </div>
            <div class="courses-1-a">
                <img src="../static/assets/img/data-science-education.jpg" class="img-5" alt="">
                <h5>Data End</h5>
                <br>
                <h2>Data Scientist And Its <br>Tools</h2>
                <br>
                <div class="begin">
                <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>  
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">7h 40m </h5>
            </div>
            </div>
        </div>
        <div class="courses-1">
            <div class="courses-1-a">
                <img src="../static/assets/img/Content-writer-1068x561.jpg" class="img-5" alt="">
                <h5>Content End</h5>
                <br>
                <h2>Content Writing And Its<br>Tools</h2>
                <br>
                <div class="begin">
                    <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5>3h 24m</h5>
                </div>
            </div>
            <div class="courses-1-a">
                <img src="../static/assets/img/Graphic-designing.jpg" class="img-5" alt="">
                <h5>Front End</h5>
                <br>
                <h2>Graphic-Designing Software<br> And Tools</h2>
                <br>
                <div class="begin">
                    <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>
                    
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">5h 10m </h5>
                </div>
            </div>
            <div class="courses-1-a">
                <img src="../static/assets/img/hr.jpeg" class="img-5" alt="">
                <h5>Hr End</h5>
                <br>
                <h2>Hr Business Management<br>& Marketing</h2>
                <br>
                <div class="begin">
                <img src="../static/assets/img/user.png" class="img-6" alt="">
                    <h5>Beginner</h5>  
                    <img src="../static/assets/img/time-management.png" class="img-7" alt="">
                    <h5 class="H5">6h 30m </h5>
            </div>
            </div>
        </div>
      </div>
</body>
</html>