<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/accenture-squarelogo-1603988625135.png" alt="">
            <h2>Application Developer</h2>
            <div class="descrip">
                Project Role Description : Design, build and configure applications to meet business process and application requirements.
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (7 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">9k CTC to 11 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Summary: As an Application Developer for Oracle Subscription Management Cloud, you will be responsible for designing, building, and 
                    configuring applications to meet business process and application requirements. Your typical day will involve working with Oracle 
                    Subscription Management Cloud and collaborating with cross-functional teams to deliver impactful solutions. Roles & Responsibilities: - 
                    Lead the design, development, and deployment of Oracle Subscription Management Cloud applications to meet business process and application
                    requirements. - Collaborate with cross-functional teams to gather and analyze business requirements, design solutions, and develop and test code.
                    Professional & Technical Skills: - Must To Have Skills: Expertise in Oracle Subscription Management Cloud.
                </p>
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://www.accenture.com/in-en/careers/jobdetails?id=ATCI-4245018-S1664872_en&title=Application%20Developer"> Click here</a>
                <a href="https://www.accenture.com/in-en/careers/jobsearch?jk=&vw=0&is_rj=0" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>