<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/deqode.jpg" alt="">
            <h2>DevOps/SRE Engineer</h2>
            <div class="descrip">
                You will design, deploy, and continuously improve our cloud infrastructure, focusing on reliability, scalability, and security.

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (1 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore, Pune </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">5k CTC to 8L CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Skills required:
                    1. A deep understanding of deployment and monitoring strategies for reliable, highly scalable, and robust cloud infrastructure.
2. Expert on cloud technologies such as AWS, Kubernetes, and Docker.
3. Strong knowledge of automation and infrastructure as code technologies such as Terraform, Powershell, Puppet, Ansible, etc.
4. Experience working with complex CI/CD pipelines for production releases in a microservices-based architecture.
5. An organized self-starter with an ability to follow through on tasks under minimal supervision.
6. Passionate about improving skills and learning new technologies.
                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://deqode.com/jobs/devops-sre-engineer/"> Click here</a>
                <a href="https://deqode.com/careers/#Current-Openings" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>