<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/tech-mahindra-squareLogo-1682427461111.png" alt="">
            <h2>Network Engineer</h2>
            <div class="descrip">
                Resolution of FCAPS issues on EPNM, DCNM,NFM T & MCP NMSs. Working experience in resolving users/Oss issues on EPNM,DCNM,NFMT and MCP
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (3-15 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Gurgaon </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.5k CTC to 12 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Mandatory Technical Skills : 1. NBI Protocols REST,RESTCONF,SNMP,KAFKA & CORBA 2. Linux Administration 3. OTN 4. Basics of Kubernetes 5. Basics of IP Networking. 6. IPV6 7. Python & Ansible 8. TCP/UDP 9. Openstack Platform knowledge: 1. Cisco DCNM FCAPS 2. Nokia NFMT FCAPS 3. Ciena MCP FCAPS 4. Cisco EPNM FCAPS 5. Nokia PSS devices 6. Ciena 6500 devices 7. Cisco NCS and Nexus devices
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://careers.techmahindra.com/JobDetails.aspx?JobCode=NAAAADQAAAA2AAAAMQAAADgAAAA=-cmTH86n8VBA=&SkillSet=NQAAAEcAAAAgAAAAUgAAAEEAAABOAAAAIAAAAEYAAABvAAAAdQAAAG4AAABkAAAAYQAAAHQAAABpAAAAbwAAAG4AAAAtAAAAMQAAAA==-PousN+j1XME=&designation=TgAAAGUAAAB0AAAAdwAAAG8AAAByAAAAawAAACAAAABFAAAAbgAAAGcAAABpAAAAbgAAAGUAAABlAAAAcgAAAA==-EzCOX8hsdng=&IndustryType=SQAAAFQAAAA=-cu6HGbNv01o="> Click here</a>
                <a href="https://careers.techmahindra.com/" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>