<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/dxc.png" alt="">
            <h2>Java Developer</h2>
            <div class="descrip">
                Collaborate with the software development team to design, code, and test software solutions.

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (4 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Singapore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.5L CTC to 8L CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Basic Qualifications:
                    • Proficiency in 1 or more software languages and development methodologies
• Proficiency in coding and debugging complex software components
• Familiarity with software development practices and methodologies
• Strong problem-solving and analytical skills
• Effective communication and teamwork abilities
• Eagerness to learn and adapt to challenging technical tasks
                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://careers.dxc.com/global/en/job/51511226/Java-Developer"> Click here</a>
                <a href="https://careers.dxc.com/global/en/c/software-applications-jobs" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>