<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/deloitte-squareLogo-1674210308592.webp" alt="">
            <h2>Software Engineer</h2>
            <div class="descrip">
                Interested in creating mission critical solutions? Together with our other delivery centers around the world, we provide development and sustainment services for our clients, both pre- and post-implementation.

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (4 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Out of India </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">5k CTC to 18L CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Work you’ll do :
                    As a Solution Analyst, you’ll work with an experienced team to act as a strategic advisor to clients through solution implementation and maintenance. The work could span a variety of skillsets, as detailed below.
                    <br>
                    Knowledge Areas- Software Developer
                    
                    As part of the application process, you will provide preferences for your top choices of knowledge areas. Expertise in all knowledge areas is NOT required for the position.
                    1. Software Development
                    2. Cloud Technology
                    3. Networking
                    4. Testing

                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://apply.deloitte.com/careers/JobDetail/Deloitte-Consulting-US-Delivery-Center-Solution-Analyst-Software-Developer/175363"> Click here</a>
                <a href="https://apply.deloitte.com/careers/SearchJobs?3_5_3=477%2C478%2C480?icid=top_" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>