<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/infosys-squareLogo-1620208556721.webp" alt="">
            <h2>Technology Analyst - Java</h2>
            <div class="descrip">
                Hiring for Java developer with experience range 2 to 9 Years. Location: Indore
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (2-7 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">5k CTC to 13 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Additional Responsibilities:
 •	Knowledge of design principles and fundamentals of architecture
•	Understanding of performance engineering
•	Knowledge of quality processes and estimation techniques
•	Basic understanding of project domain
•	Ability to translate functional / nonfunctional requirements to systems requirements
•	Ability to design and code complex programs
•	Ability to write test cases and scenarios based on the specifications
•	Good understanding of SDLC and agile methodologies 
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://career.infosys.com/jobdesc?jobReferenceCode=INFSYS-EXTERNAL-177633&rc=0"> Click here</a>
                <a href="https://career.infosys.com/joblist?countrycode=IN&companyhiringtype=IL" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>