<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/wipro-squareLogo-1670620181456.webp" alt="">
            <h2>Cyber Security Analyst</h2>
            <div class="descrip">
                The purpose of this role is to analyse, identify, rectify & recommend specific improvement measures that help in the security posture of the organization by protecting the sensitive information.
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (2.5 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.8k CTC to 10 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Functional Competencies/ Skill
Leveraging Technology - Knowledge of current and upcoming technology (automation, tools and systems) to build efficiencies and effectiveness in own function/ Client organization - Expert
Process Excellence - Ability to follow the standards and norms to produce consistent results, provide effective control and reduction of risk - Expert
Functional/Technical - Knowledge of Network Security devices, firewalls, end points, SIEM, application security, IPS/IDS, VA / PT skills - Master
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://careers.wipro.com/careers-home/jobs/3067918?lang=en-us&previousLocale=en-US"> Click here</a>
                <a href="https://careers.wipro.com/careers-home/jobs" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>