<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/rws.png" alt="">
            <h2>Software Engineer (Java +React)</h2>
            <div class="descrip">
                RWS Technology Services provide end-to-end business technology solutions. 

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (3-15 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.5k CTC to 12 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Skills & Experience :

1. Must have Hands-on experience of 3+ years in Java, J2EE, and Spring Boot.
2. Must have experience in React JS
3. Must have MVC architecture.
4. Good to know any Content Management System.
5. Should know basic SQL.
6. Good to have UI technologies.
7. Excellent communication skills, both verbal and written 
8. Pragmatic, get-things-done attitude with excellent organizational skills. 

                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://careers-rws.icims.com/jobs/2779/software-engineer-%28java-%2breact%29/job?hub=8&_gl=1*1h89c45*_ga*MTAwMTg2MDcyNy4xNzEyNTgyMTk5*_ga_5Y2BYGL910*MTcxMjU4MjE5OC4xLjEuMTcxMjU4MjIxMy4wLjAuMA..&mobile=false&width=1440&height=500&bga=true&needsRedirect=false&jan1offset=330&jun1offset=330"> Click here</a>
                <a href="https://globalcareers-rws.icims.com/jobs/search?ss=1&searchCategory=17886" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>