<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/capgemini-squareLogo-1688367853815.webp" alt="">
            <h2>PYTHON DEVELOPER</h2>
            <div class="descrip">
                Python ,API, Pandas,(Django/flask) deveoplper hiring.
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (4-6 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2"> Pune, Chennai and Bengaluru </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">6k CTC to 8 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    PYTHON DEVELOPER | 4 TO 6 YEARS | CHENNAI,PUNE,BENGALURU
                    <br>
                    Primary Skills : API, Pandas,(Django/flask)

                    Posted on : 05 Apr 2024 | Experience level : Experienced | Contract type : Permanent | Location : Pune, Chennai and Bengaluru
                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href=""> Click here</a>
                <a href="https://www.capgemini.com/in-en/careers/join-capgemini/job-search/?country_code=in-en&country_name=India&size=15" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>