<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/yash-technologies.png" alt="">
            <h2>Sr. Software Engineer - Java + Cloud (AWS)</h2>
            <div class="descrip">
                We are looking forward to hire FullStack (Java + Angular+AWS) professionals at the level of Tech Lead
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (8 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2"> Pune, Indore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">5k CTC to 13 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    You are required to have skills in the following areas :

Professional with good architectural/design background, and hands-on development experience using JAVA, and J2EE languages in Windows/Unix environments is required.
Minimum 8 years of experience in Java and related technologies o Good understanding for Spring framework - Spring core, MVC, Boot, Microservices pattern. 
Working knowledge of building Micro Services, RESTful web Services using any framework (Spring Boot, JaxRS, Jersey) 
Hands on experience in web services development and solid understanding of Java web technologies using Java 8 
Solid understanding of UI basics HTML, CSS, Java script, jQuery, Ajax 
Hands-on on Typescript and Angular 9+ with modular architecture. 
Good understanding of Message Queues and have worked upon any one of them (Kafka / RabbitMQ / ActiveMQ)
 Expertise in Relational database (MySQL / MS SQL /Oracle) 
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://careers.yash.com/go/Software-Development/4641910/"> Click here</a>
                <a href="https://careers.yash.com/go/Software-Development/4641910/" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>