<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
</head>
<body class="body">
    <div class="job-container">
        <h2>Opportunities</h2>
      <input type="text" placeholder="Search" class="job-search">
        <div class="job-1">
            <div class="job-1-a">
                <img src="../static/assets/img/accenture-squarelogo-1603988625135.png" alt="">
                <h3>Application Developer Engineer</h3>
                <div class="job-details">
                    Design, build and configure applications to meet business process and application requirements.
                </div>
                <a href="{{url_for('job_description1')}}" class="details-btn"> More Details</a>
                <span class="position-number">2 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/infosys-squareLogo-1620208556721.webp" alt="">
                <h3>Technology Analyst - Java</h3>
                <div class="job-details">
                    Hiring for Java developer with experience range 2 to 9 Years. Location: Indore
                </div>
                <a href="{{url_for('job_description2')}}" class="details-btn"> More Details</a>
                <span class="position-number">8 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/yash-technologies.png" alt="">
                <h3>Sr. Software Engineer - Java + Cloud (AWS)</h3>
                <div class="job-details">
                    We are looking forward to hire FullStack (Java + Angular+AWS) professionals at the level of Tech Lead
                </div>
                <a href="{{url_for('job_description3')}}" class="details-btn"> More Details</a>
                <span class="position-number">6 open position</span>
            </div>


           
        </div>
        <div class="job-1">
            <div class="job-1-a">
                <img src="../static/assets/img/hcl-technologies-squareLogo-1664198027190.webp" alt="">
                <h3>Technical Specialist (Linux)</h3>
                <div class="job-details">
                    Job Purpose SME is responsible for Incident, Change, Problem, Knowledge, Availability and Capacity Management for Linux operating system.
                </div>
                <a href="{{url_for('job_description4')}}" class="details-btn"> More Details</a>
                <span class="position-number">16 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/wipro-squareLogo-1670620181456.webp" alt="">
                <h3>Cyber Security Analyst</h3>
                <div class="job-details">
                    The purpose of this role is to analyse, identify, rectify & recommend specific improvement measures in the security posture of the organization.
                </div>
                <a href="{{url_for('job_description5')}}" class="details-btn"> More Details</a>
                <span class="position-number">10 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/tech-mahindra-squareLogo-1682427461111.png" alt="">
                <h3>Network Engineer</h3>
                <div class="job-details">
                    Resolution of FCAPS issues on EPNM, DCNM,NFM T & MCP NMSs. Working experience in resolving users/Oss issues on EPNM,DCNM,NFMT and MCP.
                </div>
                <a href="{{url_for('job_description6')}}" class="details-btn"> More Details</a>
                <span class="position-number">15 open position</span>
            </div>

        </div>
        <div class="job-1">
            <div class="job-1-a">
                <img src="../static/assets/img/capgemini-squareLogo-1688367853815.webp" alt="">
                <h3>PYTHON DEVELOPER </h3>
                <div class="job-details">
                    Python ,API, Pandas,(Django/flask) deveoplper hiring.
                </div>
                <a href="{{url_for('job_description7')}}" class="details-btn"> More Details</a>
                <span class="position-number">12 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/deloitte-squareLogo-1674210308592.webp" alt="">
                <h3>Software Engineer</h3>
                <div class="job-details">
                    Interested in creating mission critical solutions? Together with our other delivery centers around the world, we provide development and sustainment services for our clients.
                </div>
                <a href="{{url_for('job_description8')}}" class="details-btn"> More Details</a>
                <span class="position-number">18 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/DXC.png" alt="">
                <h3>Java Developer</h3>
                <div class="job-details">
                    Collaborate with the software development team to design, code, and test software solutions.
                </div>
                <a href="{{url_for('job_description9')}}" class="details-btn"> More Details</a>
                <span class="position-number">12 open position</span>
            </div>


        </div>
        <div class="job-1">
            <div class="job-1-a">
                <img src="../static/assets/img/InfoBeans.png" alt="">
                <h3>Python Automation Engineer</h3>
                <div class="job-details">
                    Be a part of a learning culture where teamwork and collaboration are encouraged, diversity is valued and excellence.
                </div>
                <a href="{{url_for('job_description10')}}" class="details-btn"> More Details</a>
                <span class="position-number">13 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/Impetus.png" alt="">
                <h3>Senior/Module Lead DevOps Engineer</h3>
                <div class="job-details">
                    Work with infrastructure, Architecture and software development teams to implement CI/CD automation on-prem and in Azure cloud.
                </div>
                <a href="{{url_for('job_description11')}}" class="details-btn"> More Details</a>
                <span class="position-number">12 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/deqode.jpg" alt="">
                <h3>DevOps/SRE Engineer</h3>
                <div class="job-details">
                    You will design, deploy, and continuously improve our cloud infrastructure, focusing on reliability, scalability, and security.
                </div>
                <a href="{{url_for('job_description12')}}" class="details-btn"> More Details</a>
                <span class="position-number">4 open position</span>
            </div>


        </div>
        <div class="job-1">
            <div class="job-1-a">
                <img src="../static/assets/img/Cognizant.png" alt="">
                <h3>SENIOR PROCESS EXECUTIVE-DATA</h3>
                <div class="job-details">
                    Cognizant is one of the world's leading professional services companies, transforming clients' business, operating and technology models for the digital era.
                </div>
                <a href="{{url_for('job_description13')}}" class="details-btn"> More Details</a>
                <span class="position-number">14 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/rws.png" alt="">
                <h3>Software Engineer (Java +React)</h3>
                <div class="job-details">
                    RWS Technology Services provide end-to-end business technology solutions. 
                </div>
                <a href="{{url_for('job_description14')}}" class="details-btn"> More Details</a>
                <span class="position-number">8 open position</span>
            </div>

            <div class="job-1-a">
                <img src="../static/assets/img/Immersive Infotech.jfif" alt="">
                <h3>NODE.JS DEVELOPER</h3>
                <div class="job-details">
                    We are looking for a highly capable Node.js developer to optimize our web-based application performance.
                </div>
                <a href="{{url_for('job_description15')}}" class="details-btn"> More Details</a>
                <span class="position-number">6 open position</span>
            </div>


        </div>
    </div>
</body>
</html>