<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/impetus.png" alt="">
            <h2>Senior/Module Lead DevOps Engineer</h2>
            <div class="descrip">
                Work with infrastructure, Architecture and software development teams to implement CI/CD automation on-prem and in Azure cloud.

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (5-8 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore / Noida / Bangalore / Gurugram </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.5k CTC to 12 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Technical Skills: Azure, devops, Kubernetes, Terraform, Ansible, docker, jenkins
                    <br>
                    Qualifications :
                    1. Experience building CICD pipelines (Build and deployment of Azure Services and  applications based on Nodejs and python)
2. Should have hand on knowledge on Microsoft Azure, Azure DevOps, Networking,Load balancers, DNS and Azure services
3. Hands-on experience with Azure Arm Template(ARM) , PowerShell and Shell /Bash scripting, Terraform, Python, Helm charts
4. Hands-on experience and Knowledge with Docker and Azure Kubernetes deployments
5. Good understanding and solid experience with products such as:  Azure DevOps, Git, GitHub, GitHub Actions, Anisble, Hashicorp, Rancher etc.

                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://impetus.openings.co/#!/job-view/senior-module-lead-devops-engineer-indore-madhya-pradesh-india-noida-uttar-pradesh-india-bangalore-karnataka-india-gurugram-haryana-india-2024031512561015"> Click here</a>
                <a href="https://impetus.openings.co/#!/" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>