<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/infobeans.png" alt="">
            <h2>Python Automation Engineer</h2>
            <div class="descrip">
                Be a part of a learning culture where teamwork and collaboration are encouraged, diversity is valued and excellence.

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (3.5 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore and Pune </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">6k CTC to 6L CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    We would like you to bring along :

1. Experience in testing both web application and API automation testing
2. Basic understanding of Selenium/automation testing is mandatory. Should know basics of web elements, object identification, challenges faced during test automation, etc.
3. Knowledge of Python scripting language, API automation, hands on experience on JSON, XML, backend automation
4. Experience with web applications including web standards, best practices on python automation and pytest framework.
5. Hands on experience with code repository like GIT or Bitbucket
6. Ability to perform as an individual contributor with strong leadership qualities
7. Knowledge and exposure to all stages of Software Development Life Cycle (SDLC) and STLC
                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://www.infobeans.com/careers/"> Click here</a>
                <a href="https://www.infobeans.com/careers/" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>