<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/Immersive Infotech.jfif" alt="">
            <h2>NODE.JS DEVELOPER</h2>
            <div class="descrip">
                We are looking for a highly capable Node.js developer to optimize our web-based application performance.

            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (3-7 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Indore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.5k CTC to 12 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Responsibilities may include, but are not limited to:
1. Developing and maintaining all server-side network components.
2. Developing high-performance applications by writing testable, reusable, and efficient code.
3. Documenting Node.js processes, including database schemas, as well as preparing reports.
4. Recommending and implementing improvements to processes and technologies.
5. Running diagnostic tests, repairing defects, and providing technical support.
                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://www.immersiveinfotech.com/career-details/9"> Click here</a>
                <a href="https://www.immersiveinfotech.com/careers" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>