<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/cognizant.png" alt="">
            <h2>SENIOR PROCESS EXECUTIVE-DATA</h2>
            <div class="descrip">
                Cognizant is one of the world's leading professional services companies, transforming clients' business, operating and technology models for the digital era.
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (3-15 year experience) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Hyderabad, Telangana </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">4.5k CTC to 12L CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Must Have Skills : 1. MS Excel, 2. MS Office, 3. MS Word
                   <br> Good To Have Skills : Payments
                   <br>
                   Responsibility:

1. Business,Customer
2. Minimal Customer interaction under guidance.
3. Understands Domain Process/sub process functions terminologies (such as SOP QC checklists).
4. Project,Process Attempts Complex problems (procedures/processes) and refers to Supervisor/Line Manager in rare cases.
5. Handle first level processing of transactions.
6. Adhere to quality requirements achieve targets/volumes in given TAT(Turn around time).
                    
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://careers.cognizant.com/global/en/job/00057835971/Senior-Process-Executive-Data"> Click here</a>
                <a href="https://careers.cognizant.com/global/en" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>