<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<body>
     <div class="job-description">
        <a href="{{url_for('job_listing')}}"><img src="../static/assets/img/back-button.png" alt=""></a>
        <div class="job-page">
            <img src="../static/assets/img/hcl-technologies-squareLogo-1664198027190.webp" alt="">
            <h2>Technical specialist</h2>
            <div class="descrip">
                Job Purpose SME is responsible for Incident, Change, Problem, Knowledge, Availability and Capacity Management for Linux operating system.
            </div>
            <div class="qualification">
                 <p class="quali"> Qualification:-  <h5 class="g1"> Graducation Minimum (2.5-5 year experience min) </h5> </p>
                 <p class="quali"> Location :- <h5 class="g2">Bangalore </h5></p>
                 <p class="quali"> Salary :-  <h5 class="g3">5k CTC to 10 CTC </h5></p>

            </div>
            <div class="job-requirement">
                <h3>Job Description:-</h3>
                <p>
                    Job Purpose SME is responsible for Incident, Change, Problem, Knowledge, Availability and Capacity Management for Linux operating system. Manage L2/L3 production/project support activities. This also includes the initial installation or update, patching, migration for these platforms Responsible for script development/ update in different scripting (Shell and Perl). Excellent communication and facilitation skills Exposure in other OS like HP-UX, Solaris, AIX etc. is an advantage. Experience or familiar on tools like ticketing and monitoring tools.
            </div>
            <div class="job-requirement">
            <h3>Contact Details:-</h3>
            <p>
                To apply visit
                <a href="https://www.hcltech.com/jobs/technical-specialist-10"> Click here</a>
                <a href="https://www.hcltech.com/careers/careers-in-india#job-openings" class="details-btn"> More Details</a>
            </p>
            </div>
        </div>
     </div>
</body>
</html>