<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<style>
    table,th ,td {
        border: 1px solid black;
    }
</style>
<body class="ebody"> 

       <img src="../static/assets/img/css3.png" class="img-30" alt="">
        <h1>    CSS Lectures Playlist  </h1>
        <img src="../static/assets/img/css3.png" class="img-31" alt="">
        
        <div class="cint">
        <div class="lecture-container">
        
            <div class="lectures-part">
                 <table style="width: 80%;" class="table-1">
                   <tr class="tr-1">
                    <th>S.No</th>
                    <th class="th-1">Lecture List</th>
                   </tr>
                   <tr class="tr-1">
                    <th>1.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1x4TiJ8sbY43rSKxle4zgjUTsHzHX7C33/view?usp=sharing">Css Introduction</a></th>
                   </tr>
                   <tr>
                    <th>2.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1g9YPqDlyLsX8j6Q98_rDVyEPlzOVe1wT/view?usp=sharing">Different Ways To Apply Css </a></th>
                   </tr>
                   <tr class="tr-1">
                    <th>3.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1AdJGFq2Jac9FH2s2lsWN0P_b7owntgfP/view?usp=sharing">Css Utility Class & ID </a></th>
                   </tr>
                   <tr>
                    <th>4.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1JxcvXVxoECRoyi4KcxIeOmhaZmwseEPe/view?usp=sharing">Css Attribute Selector</a></th>
                   </tr>
                   <tr>
                    <th>5.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1na8ObV3XrdPFDQJ3Uwp3fPyR-21Fs_GT/view?usp=sharing">Css Box Model</a></th>
                   </tr>
                   <tr>
                    <th>6.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1IcpDMpDI2cf7fcZJO1pKONzUctUPyFnM/view?usp=sharing">Css Box Sizing Border Box</a></th>
                   </tr>
                   <tr>
                    <th>7.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1iv901H--PRGEcQdVq46NMpjabVBuXXBp/view?usp=sharing">Css Border Property</a></th>
                   </tr>
                   <tr>
                    <th>8.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1evlDRQ1pscISR4NKWOQEIi6k1ZO94vdm/view?usp=sharing">Css Text Align Property</a></th>
                   </tr>
                   <tr>
                    <th>9.</th>
                    <th class="th-1"> <a href="https://drive.google.com/file/d/1c9SM0oYDNAjJJ6KVNu5OUAHEVvI6kcat/view?usp=sharing">Css Font Weight Property</a></th>
                   </tr>
                   <tr>
                    <th>10.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1XHj4WYqD5LQkzhWHifd9TZla8BO0qxq0/view?usp=sharing">Css  Psuedo Class</a></th>
                   </tr>
                   <tr>
                    <th>11.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1B9LrDhnBaFQjRBtcu82jzSP4SRxpG0O1/view?usp=drive_link">Css First Child &First Type of Psuedo Class</a></th>
                   </tr>
                   <tr>
                    
                    <th>12.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1aJw686jI2FIWbkZp-iV35if5bI13CRRg/view?usp=sharing">Css nth Child & nth Type of Psuedo Class </a></th>
                   </tr>
                   <tr>
                    <th>13.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1IcpDMpDI2cf7fcZJO1pKONzUctUPyFnM/view?usp=sharing">Before And After Psuedo Element</a></th>
                   </tr>

                </table>
            </div>
        
        </div>
        
        </div>
        <div class="quiz">
            <h1>To Get The Certificate You Must Complete This Quiz</h1>
            <img src="../static/assets/img/quiz.png" class="img-36" alt="">
            <img src="../static/assets/img/quiz.png" class="img-37" alt="">
            <div class="quiz-link">
             <h3>To Get The Quiz Link Click Here </h3> 
             <img src="../static/assets/img/arrow2.png" class="img-38" alt="">
             <br>
             <a href="https://forms.gle/NhPCGaTWwhbe65aNA">CSS Quiz </a>
            </div>
         </div>
         <div class="certificate">
            <h1>Click Here To Dowload Your Certificate</h1>
            <img src="../static/assets/img/certificate.png" class="img-41" alt="">
            <img src="../static/assets/img/certificate.png" class="img-42" alt="">
            <div class="get-certificate">
               <img src="../static/assets/img/arrow2.png" class="img-40" alt="">
               <a href="{{url_for('generator')}}" class="btn-35">Certificate</a>

            </div>
            <div class="copyright">
               <a href="copyright.html" class="btn-51">Copyright Section</a>

            </div>
         </div>
         
</body>
</html>