<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/2.css')}}">
</head>
<style>
    table,th ,td {
        border: 1px solid black;
    }
</style>
<body class="ebody"> 

       <img src="../static/assets/img/netwwork.webp" class="img-30" alt="">
        <h1>  Marketing-Lect Playlist  </h1>
        <img src="../static/assets/img/netwwork.webp" class="img-31" alt="">
        
        <div class="cint">
        <div class="lecture-container">
        
            <div class="lectures-part">
                 <table style="width: 80%;" class="table-1">
                   <tr class="tr-1">
                    <th>S.No</th>
                    <th class="th-1">Lecture List</th>
                   </tr>
                   <tr class="tr-1">
                    <th>1.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1rgLvFuYQbo0gPdyOFqhEVqEfJ-g07a6R/view?usp=sharing">Network Marketing Intorduction</a></th>
                   </tr>
                   <tr>
                    <th>2.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1ccDJXfkARl1zCdteW4jvx7ZgImi3sIuY/view?usp=sharing">Make Goals And Achieve Thm</a></th>
                   </tr>
                   <tr class="tr-1">
                    <th>3.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1nVeoVAZQ9-GGyauktMm1tm3glTi_QqJG/view?usp=sharing">Strategy For Network Marketing </a></th>
                   </tr>
                   <tr>
                    <th>4.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1kDXfFsFw64k9ttREnx8E9PpW-1qd3wPo/view?usp=sharing">How To Sell Product At High Price</a></th>
                   </tr>
                   <tr>
                    <th>5.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1QyORfpvsk8eAZvxuvSoXs0qX19XCImBE/view?usp=sharing">Facebook Network Marketing Strategy</a></th>
                   </tr>
                   <tr>
                    <th>6.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1CDeNIvKFQPsetutNpBo9WVT_7bi79-3Y/view?usp=sharing">How To Get Rich By ESBI Model</a></th>
                   </tr>
                   <tr>
                    <th>7.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1O8eSgxPfNJfXCwvPssay3jS83klPjoSu/view?usp=sharing">How To Make List Of Plan </a></th>
                   </tr>
                   <tr>
                    <th>8.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1v2G__lPJ5S8a-Whqc_8xukP9--ZsPRnl/view?usp=sharing">How To Make Network Marketing Company</a></th>
                   </tr>
                   <tr>
                    <th>9.</th>
                    <th class="th-1"> <a href="https://drive.google.com/file/d/1glPgW-xoh1mQlLFfPXIIniFcQxSIlfx0/view?usp=sharing">How To Organise An Online Webinar</a></th>
                   </tr>
                   <tr>
                    <th>10.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1ggxvaMHP-tZfDuUTO-5ecMxUMWwhOqaU/view?usp=sharing">Social Media Branding Tool</a></th>
                   </tr>
                   <tr>
                    <th>11.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1DJosl4cISupmDXQ4jRygIhllI4e6axAP/view?usp=sharing">Mindset Development For Network Marketing</a></th>
                   </tr>
                   <tr>
                    <th>12.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1MIIibeJUgazoPsvoQyWzpbB9t7xPwwZc/view?usp=sharing">Make Team And Build Leadership Quality</a></th>
                   </tr>
                   <tr>
                    <th>11.</th>
                    <th class="th-1"><a href="https://drive.google.com/file/d/1ggxvaMHP-tZfDuUTO-5ecMxUMWwhOqaU/view?usp=sharing">Social Media Personal Branding Tool</a></th>
                   </tr>
                   

                </table>
            </div>
        
        </div>
        
        </div>
        <div class="quiz">
            <h1>To Get The Certificate You Must Complete This Quiz</h1>
            <img src="../static/assets/img/quiz.png" class="img-36" alt="">
            <img src="../static/assets/img/quiz.png" class="img-37" alt="">
            <div class="quiz-link">
             <h3>To Get The Quiz Link Click Here </h3> 
             <img src="../static/assets/img/arrow2.png" class="img-38" alt="">
             <br>
             <a href="https://forms.gle/A4i5S74x2M5KJapW7">Network Marketing Quiz </a>
            </div>
         </div>
         <div class="certificate">
            <h1>Click Here To Dowload Your Certificate</h1>
            <img src="../static/assets/img/certificate.png" class="img-41" alt="">
            <img src="../static/assets/img/certificate.png" class="img-42" alt="">
            <div class="get-certificate">
               <img src="../static/assets/img/arrow2.png" class="img-40" alt="">
               <a href="{{url_for('generator')}}" class="btn-35">Certificate</a>

            </div>
            <div class="copyright">
               <a href="{{url_for('copyright')}}" class="btn-51">Copyright Section</a>

            </div>
         </div>
         
</body>
</html>