<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/registration1.css')}}">
</head>
<body>
    <div class="playlist">
        <h1>Playlist Videos</h1>

        <div class="playlist-1">
            <div class="html-a">
                <video src="../static/assets/img/vid-7.mp4" autoplay controls height="250px" width="350px" loop poster="post-2-1.png"></video>
                <h3>Complete CSS Tutorial (part-1)</h3>
            </div>
        
        <div class="html-a">
            <video src="../static/assets/img/vid-8.mp4" controls height="250px" width="350px" loop poster="post-2-2.png"></video>
            <h3>Complete CSS Tutorial (part-2)</h3>
        </div>
    
    <div class="html-a">
        <video src="../static/assets/img/vid-9.mp4" controls height="250px" width="350px" loop poster="post-2-3.png"></video>
        <h3>Complete CSS Tutorial (part-3)</h3>
    </div>
    </div>
</div>
         <div class="playlist-2">
          
            <div class="html-b">
             <video src="../static/assets/img/vid-4.mp4" controls height="250px" width="350px" loop poster="post-2-4.png"></video>
             
                <h3>Complete CSS Tutorial (part-4)</h3>
            </div>

            <div class="html-b">
                <video src="../static/assets/img/vid-5.mp4" controls height="250px" width="350px" loop poster="post-2-5.png"></video>
                <h3>Complete CSS Tutorial (part-5)</h3>
            </div>
            <div class="html-b">
                <video src="../static/assets/img/vid-6.mp4" controls height="250px" width="350px" loop poster="post-2-6.png"></video>
                <h3>Complete CSS Tutorial (part-6)</h3>
            </div>
          </div>
          
    </div>
</body>
</html>